@import "~leaflet/dist/leaflet.css";

  .map-wrapper {
    position: absolute;
    top: 100px;
    left: 700px;
    right: 10px;
    bottom: 0;
    margin: 0;
  }
  
  .map-border {
    border: 1px solid orange;
    height: 100%;
    width: 90%;
  }
  
  #map {
    width: 100%;
    height: 100%;
  }