<app-navbar></app-navbar>
<div class="center">
    <form>
      <div class="inputbox">
        <input type="text" name="status" [(ngModel)]="status" required="required">
        <span>Status</span>
      </div>
      <div class="inputbox">
        <input type="text" name="type" [(ngModel)]="type" required="required">
        <span>Type</span>
      </div>
      <div class="inputbox">
        <input type="date" name="dateMin" [(ngModel)]="dateMin">
        <span>Date min</span>
      </div>
      <div class="inputbox">
        <input type="date" name="dateMax" [(ngModel)]="dateMax">
        <span>Date max</span>
      </div>
      <div class="inputbox">
        <input type="button" value="Recherche" (click)="recherche()">
      </div>
    </form>
  </div>
<table  id="customers">
    <tr>
        <td>Numéro</td>
        <td>titre</td>
        
    </tr>
    <tr *ngFor="let signalement of signalements" >
        <td>{{signalement.id}}</td>
        <td>{{signalement.titre}}</td>
        <td>
          <form>
              <input type ="hidden" #box value="{{signalement.id}}">
              <input type="button" value="Voir Details"  (click)="voirPLus(box.value)">
          </form>

      </td>
        
    </tr>
</table>
<app-map></app-map>