<app-navbar></app-navbar>
<h3>A propos du signalement n°  : {{signalements.id}} </h3>
<div class="card">
    <img [src]="image"  style="width:50%">
    <div class="container">
      <h4><b>Titre : {{signalements.titre}}</b></h4>
      <p>Longitude : {{signalements.longitude}}</p>
      <p>Latitude : {{signalements.latitude}}</p>
      <p>Description : {{signalements.description}}</p>
    </div>
  </div>
<p></p>
<p></p>

<form>
    <input type="button" value="changer status" (click)="huhu()">
</form>




